@font-face {
    font-family: "Allura";
    src: url(/asset/font/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(/asset/font/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(/asset/font/Roboto-MediumItalic.ttf);
}

$font1: Allura, cursive;
$font2: Roboto, serif;
$font3: Poppins, serif;
$white: #eee;
$black: #21201e;
$green: rgb(111, 190, 20);
$blue: rgb(19, 105, 136);
$translate: rgba(121, 115, 115, 0.541);
$line: rgba(165, 161, 161, 0.301);


@mixin childCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin alignChildren($space) {
    display: flex;
    align-items: center;
    justify-content: $space;
}

@mixin h2 {
    font-family: $font2;
    font-size: 1.4rem;
    font-weight: 550;
}

@mixin btn1 {
    background: $green;
    color: $white;
    border: 2px solid $white;
    border-radius: 25px;
    width: 80%;
    height: 10%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background: $white;
        color: $green;
        border: 2px solid $green;
        transform: translateX(2px);
    }

    @media screen and (max-width:570px) {
        height: 15%;
    }
}

@mixin store {
    &:after {
        content: "";
        position: absolute;
        background: $line;
        width: 2px;
        height: 90%;            
        left: 99%;
        bottom: 5%;
    }

    &:before {
        content: "";
        position: absolute;
        background: $line;
        width: 90%;
        height: 2px;            
        left: 3%;
        bottom: 0%;
    }
}

@mixin img1 {
    max-width: 230px;
    max-height: 260px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    font-family: $font3;
}

body {
    text-align: center;
    font-family: $font3;
    background: $white;
}