@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(/asset/font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/asset/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/asset/font/Roboto-MediumItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
  font-family: Poppins, serif;
}

body {
  text-align: center;
  font-family: Poppins, serif;
  background: #eee;
}

header {
  background: url(/asset/img/header.jpg) center/cover;
  padding: 0 50px;
  color: #eee;
}
header nav {
  background: rgba(121, 115, 115, 0.541);
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 15% 60% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 150px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media screen and (max-width: 740px) {
  header nav {
    display: grid;
    grid-template-columns: 15% 0% 70% 15%;
  }
}
header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 430px) {
  header nav .logo {
    display: none;
  }
}
header nav .logo img {
  height: 70%;
  width: 70%;
}
header nav .nav-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .nav-titre h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgb(19, 105, 136);
}
@media screen and (max-width: 900px) {
  header nav .nav-titre h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 740px) {
  header nav .nav-titre h1 {
    display: none;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
  cursor: pointer;
}
header nav ul li:hover {
  border-bottom: 2px solid rgb(111, 190, 20);
}
@media screen and (max-width: 430px) {
  header nav ul li {
    display: none;
  }
}
header nav .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header nav .nav-icon i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header nav .nav-icon i:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
header .header-txt {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 630px) {
  header .header-txt {
    height: 10vh;
  }
}
@media screen and (max-width: 1100px) {
  header .header-txt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
header .header-txt .box-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  margin-bottom: 15%;
  background: rgba(121, 115, 115, 0.541);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 1100px) {
  header .header-txt .box-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 30%;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 630px) {
  header .header-txt .box-txt {
    display: none;
  }
}
header .header-txt .box-txt h1 {
  font-family: Allura, cursive;
  color: rgb(19, 105, 136);
  font-size: 4rem;
  margin-top: 3%;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 700px) {
  header .header-txt .box-txt h1 {
    font-size: 2rem;
  }
}
header .header-txt .box-txt p {
  font-family: Poppins, serif;
  letter-spacing: 2px;
  margin: 0 1%;
  font-size: 1rem;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt p {
    font-size: 0.9rem;
  }
}
header .header-txt .box-txt p:before {
  content: "❝";
}
header .header-txt .box-txt p:after {
  content: "❞";
}
header .header-txt .box-txt p:before, header .header-txt .box-txt p:after {
  font-size: 1.5rem;
}

.section1 .section1-container1 {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 50vh;
  position: relative;
}
.section1 .section1-container1:before {
  content: "";
  position: absolute;
  width: 18%;
  height: 2px;
  background: rgba(165, 161, 161, 0.301);
  left: 41%;
  bottom: 0%;
}
@media screen and (max-width: 630px) {
  .section1 .section1-container1:before {
    width: 90%;
    left: 5%;
  }
}
@media screen and (max-width: 630px) {
  .section1 .section1-container1 {
    display: grid;
    grid-template-columns: 100% 0%;
  }
}
.section1 .section1-container1 .section1-text-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed rgb(111, 190, 20);
  margin: 5%;
}
.section1 .section1-container1 .section1-text-container1 p {
  font-size: 1rem;
  margin: 5%;
  letter-spacing: 2px;
  line-height: 2;
}
@media screen and (max-width: 400px) {
  .section1 .section1-container1 .section1-text-container1 p {
    font-size: 0.8rem;
  }
}
.section1 .section1-container1 .section1-img-container1 {
  background: url(/asset/img/histoire.jpg) center/cover;
}
@media screen and (max-width: 630px) {
  .section1 .section1-container1 .section1-img-container1 {
    display: none;
  }
}
.section1 .section1-container2 {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 50vh;
  position: relative;
}
.section1 .section1-container2:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgb(19, 105, 136);
  bottom: 0;
}
@media screen and (max-width: 630px) {
  .section1 .section1-container2 {
    display: grid;
    grid-template-columns: 100% 0%;
  }
}
.section1 .section1-container2 .section1-img-container2 {
  background: url(/asset/img/chat.jpg) center/cover;
}
@media screen and (max-width: 630px) {
  .section1 .section1-container2 .section1-img-container2 {
    display: none;
  }
}
.section1 .section1-container2 .section1-text-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed rgb(111, 190, 20);
  margin: 5%;
}
.section1 .section1-container2 p {
  font-size: 1rem;
  margin: 5%;
  letter-spacing: 2px;
  line-height: 2;
}
@media screen and (max-width: 400px) {
  .section1 .section1-container2 p {
    font-size: 0.8rem;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/asset/img/section2.jpg) center/cover;
  height: 120vh;
}
@media screen and (max-width: 1000px) {
  .section2 {
    height: 255vh;
  }
}
@media screen and (max-width: 570px) {
  .section2 {
    height: 165vh;
  }
}
.section2 h2 {
  font-family: Roboto, serif;
  font-size: 1.4rem;
  font-weight: 550;
  font-size: 3rem;
}
.section2 .grid-container {
  background: rgba(121, 115, 115, 0.541);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 15px;
  height: 90%;
  width: 95%;
  max-width: 1470px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 32% 32% 32%;
  grid-template-areas: "a b c" "d e f" "g h i";
}
@media screen and (max-width: 1000px) {
  .section2 .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section2 .grid-container .container-product1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: a;
  position: relative;
}
.section2 .grid-container .container-product1:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product1:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product1 .img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product1 .img-grid img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product1 .img-grid img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product1 .grid-txt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product1 .grid-txt1 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product1 .grid-txt1 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product1 .grid-txt1 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product1 .grid-txt1 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product1 .grid-txt1 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: b;
  position: relative;
}
.section2 .grid-container .container-product2:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product2:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product2 .img-grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product2 .img-grid2 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product2 .img-grid2 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product2 .grid-txt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product2 .grid-txt2 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product2 .grid-txt2 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product2 .grid-txt2 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product2 .grid-txt2 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product2 .grid-txt2 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: c;
  position: relative;
}
.section2 .grid-container .container-product3:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product3:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product3 .img-grid3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product3 .img-grid3 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product3 .img-grid3 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product3 .grid-txt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product3 .grid-txt3 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product3 .grid-txt3 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product3 .grid-txt3 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product3 .grid-txt3 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product3 .grid-txt3 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: d;
  position: relative;
}
.section2 .grid-container .container-product4:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product4:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product4 .img-grid4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product4 .img-grid4 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product4 .img-grid4 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product4 .grid-txt4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product4 .grid-txt4 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product4 .grid-txt4 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product4 .grid-txt4 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product4 .grid-txt4 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product4 .grid-txt4 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product5 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: e;
  position: relative;
}
.section2 .grid-container .container-product5:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product5:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product5 .img-grid5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product5 .img-grid5 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product5 .img-grid5 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product5 .grid-txt5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product5 .grid-txt5 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product5 .grid-txt5 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product5 .grid-txt5 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product5 .grid-txt5 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product5 .grid-txt5 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product6 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: f;
  position: relative;
}
.section2 .grid-container .container-product6:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product6:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product6 .img-grid6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product6 .img-grid6 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product6 .img-grid6 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product6 .grid-txt6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product6 .grid-txt6 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product6 .grid-txt6 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product6 .grid-txt6 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product6 .grid-txt6 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product6 .grid-txt6 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product7 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: g;
  position: relative;
}
.section2 .grid-container .container-product7:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product7:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product7 .img-grid7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product7 .img-grid7 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product7 .img-grid7 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product7 .grid-txt7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product7 .grid-txt7 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product7 .grid-txt7 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product7 .grid-txt7 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product7 .grid-txt7 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product7 .grid-txt7 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product8 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: h;
  position: relative;
}
.section2 .grid-container .container-product8:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product8:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product8 .img-grid8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product8 .img-grid8 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product8 .img-grid8 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product8 .grid-txt8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product8 .grid-txt8 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product8 .grid-txt8 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product8 .grid-txt8 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product8 .grid-txt8 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product8 .grid-txt8 button {
    height: 15%;
  }
}
.section2 .grid-container .container-product9 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: i;
  position: relative;
}
.section2 .grid-container .container-product9:after {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 2px;
  height: 90%;
  left: 99%;
  bottom: 5%;
}
.section2 .grid-container .container-product9:before {
  content: "";
  position: absolute;
  background: rgba(165, 161, 161, 0.301);
  width: 90%;
  height: 2px;
  left: 3%;
  bottom: 0%;
}
.section2 .grid-container .container-product9 .img-grid9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .grid-container .container-product9 .img-grid9 img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  max-width: 230px;
  max-height: 260px;
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product9 .img-grid9 img {
    max-width: 150px;
    max-height: 135px;
  }
}
.section2 .grid-container .container-product9 .grid-txt9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .grid-container .container-product9 .grid-txt9 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(111, 190, 20);
}
.section2 .grid-container .container-product9 .grid-txt9 p {
  font-family: Poppins, serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(19, 105, 136);
}
.section2 .grid-container .container-product9 .grid-txt9 button {
  background: rgb(111, 190, 20);
  color: #eee;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 80%;
  height: 10%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section2 .grid-container .container-product9 .grid-txt9 button:hover {
  background: #eee;
  color: rgb(111, 190, 20);
  border: 2px solid rgb(111, 190, 20);
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
@media screen and (max-width: 570px) {
  .section2 .grid-container .container-product9 .grid-txt9 button {
    height: 15%;
  }
}/*# sourceMappingURL=index.css.map */