@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(/asset/font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/asset/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/asset/font/Roboto-MediumItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
  font-family: Poppins, serif;
}

body {
  text-align: center;
  font-family: Poppins, serif;
  background: #eee;
}

header {
  background: url(/asset/img/header.jpg) center/cover;
  padding: 0 50px;
  color: #eee;
}
header nav {
  background: rgba(121, 115, 115, 0.541);
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 15% 60% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 150px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media screen and (max-width: 740px) {
  header nav {
    display: grid;
    grid-template-columns: 15% 0% 70% 15%;
  }
}
header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 430px) {
  header nav .logo {
    display: none;
  }
}
header nav .logo img {
  height: 70%;
  width: 70%;
}
header nav .nav-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .nav-titre h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgb(111, 190, 20);
}
@media screen and (max-width: 900px) {
  header nav .nav-titre h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 740px) {
  header nav .nav-titre h1 {
    display: none;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
  cursor: pointer;
}
header nav ul li:hover {
  border-bottom: 2px solid rgb(111, 190, 20);
}
@media screen and (max-width: 430px) {
  header nav ul li {
    display: none;
  }
}
header nav .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header nav .nav-icon i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header nav .nav-icon i:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
header .header-txt {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 630px) {
  header .header-txt {
    height: 10vh;
  }
}
@media screen and (max-width: 1100px) {
  header .header-txt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
header .header-txt .box-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  margin-bottom: 15%;
  background: rgba(121, 115, 115, 0.541);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 1100px) {
  header .header-txt .box-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 30%;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 630px) {
  header .header-txt .box-txt {
    display: none;
  }
}
header .header-txt .box-txt h1 {
  font-family: Allura, cursive;
  color: rgb(19, 105, 136);
  font-size: 4rem;
  margin-top: 3%;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 700px) {
  header .header-txt .box-txt h1 {
    font-size: 2rem;
  }
}
header .header-txt .box-txt p {
  font-family: Poppins, serif;
  letter-spacing: 2px;
  margin: 0 1%;
  font-size: 1rem;
}
@media screen and (max-width: 1380px) {
  header .header-txt .box-txt p {
    font-size: 0.9rem;
  }
}
header .header-txt .box-txt p:before {
  content: "❝";
}
header .header-txt .box-txt p:after {
  content: "❞";
}
header .header-txt .box-txt p:before, header .header-txt .box-txt p:after {
  font-size: 1.5rem;
}

.section1 {
  background: red;
  height: 100vh;
}/*# sourceMappingURL=index.css.map */