header {
    background: url(/asset/img/header.jpg) center/cover;
    padding: 0 50px;
    color: $white;

    nav {
        background: $translate;
        height: 10vh;
        display: grid;
        grid-template-columns: 10% 15% 60% 15%;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        border-radius: 150px;
        backdrop-filter: blur(8px);

        @media screen and (max-width: 740px) {
            display: grid;
            grid-template-columns: 15% 0% 70% 15%;
        }

        .logo {
            @include childCenter;

            @media screen and (max-width: 430px) {
                display: none;
            }

            img {
               height: 70%;
               width: 70%;
            }
        }

        .nav-titre {
            @include alignChildren(space-between);
            
            h1 {
                font-family: $font1;
                font-size: 2rem;
                letter-spacing: 2px;
                color: $green;

                @media screen and (max-width: 900px) {
                     font-size: 1.5rem;
                }

                @media screen and (max-width: 740px) {
                    display: none;
                }
            }
        }

        ul {
            @include alignChildren(space-around);
            padding: 0 20px;
            cursor: pointer;


            li {

                &:hover {
                    border-bottom: 2px solid $green;
                }

                @media screen and (max-width: 430px) {
                    display: none;
                }
                
            }
        }

        .nav-icon {
            display: flex;
            font-size: 1.5rem;
            justify-content: space-evenly;

            i {
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    transform: translateX(2px);
                }
            }
        }
    }

    .header-txt {
        height: 90vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media screen and (max-width: 1100px) {
            justify-content: center;
        }

        .box-txt {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 40%;
            margin-bottom: 15%;
            background: $translate;
            backdrop-filter: blur(5px);
            border-radius: 15px;
            justify-content: space-around;

            @media screen and (max-width: 1380px) {
                display: flex;
                justify-content: flex-start;
            }

            @media screen and (max-width: 1100px) {
                display: flex;
                width: 80%;
                height: 30%;
                margin-bottom: 1%;
            }

            @media screen and (max-width: 630px) {
                display: none;
            }


            h1 {
                font-family: $font1;
                color: $blue;
                font-size: 4rem;
                margin-top: 3%;

                @media screen and (max-width: 1380px) {
                    font-size: 3rem;
                }

                @media screen and (max-width: 700px) {
                    font-size: 2rem;
                }

            }

            p {
                font-family: $font3;
                letter-spacing: 2px;
                margin: 0 1%;
                font-size: 1rem;

                @media screen and (max-width: 1380px) {
                    font-size: 0.9rem;
                }


                &:before {
                    content: "❝";
                }
                &:after {
                    content: "❞";
                }
    
                &:before,
                &:after {
                    font-size: 1.5rem;
                }
            }
        }
    }
}